.navbar-fixed { z-index: 9999; }

h2.header {
  font-size: 38px;
  margin-bottom: 10px;
}

h4.header {
  margin-top: 30px;
}

.collection-item .title {
  font-weight: bold;
}

.collection-item > p {
  max-width: 96%;
}

.parallax-container {
  height: 600px;
  position: relative;
}

.nav-wrapper {
  padding: 0 3rem;
}

.brand-logo span {
  font-size: 1.4rem;
  font-weight: bold;
}

.brand-logo span .light {
  margin-left: 0.2rem;
  font-weight: normal;
}

.tabs .tab a:hover {
  background-color: #F2F2F2!important;
}

.tabs .tab a {
  color: #311B92!important;
}

.tabs .indicator{
  background-color:#311B92!important;
}

.tabs{
  background-color:#F8F8F8!important;
}

.tab a.active {
  background-color:#F0F0F0!important;
}

.footer-copyright{
  background-color:#000!important;
}

/* --------------------------------------------------------------- */
.icon-link{
  text-decoration: none;
  font-size: 2.5rem;
  margin:0.5rem;
}
.banner-text{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: rgba(0,0,0, .4);
  width: 100%;
  height: 100%;
}

.banner-text h1,
.banner-text h2,
.banner-text h3,
.banner-text h4,
.banner-text h5 {
  color: white;
  font-weight: normal;
}
.banner-text h1,
.banner-text h2 {
  text-align: center;
}
.banner-text h1 {
  font-size: 3.5rem;
  font-weight: bold;
}

.tab-padding { margin-top: 2rem; }

.h50,
.h100,
.h200,
.h300,
.h400,
.h500,
.h600,
.h700,
.h800,
.h900,
.h1000 {
  min-height: 50px;
}
.h100{min-height: 100px;}
.h200{min-height: 200px;}
.h300{min-height: 300px;}
.h400{min-height: 400px;}
.h500{min-height: 500px;}
.h600{min-height: 600px;}
.h700{min-height: 700px;}
.h800{min-height: 800px;}
.h900{min-height: 900px;}
.h1000 {min-height: 1000px;}