.navbar-fixed { z-index: 9999; }

.collection-item .title {
  font-weight: bold;
}

.parallax-container {
  height: 600px;
}

.brand-logo span {
  margin-left: 0.5em;
  font-size: 0.9em;
  font-weight: bold;
}

.brand-logo span .light {
  margin-left: 0.2em;
  font-weight: normal;
}

.tabs .tab a:hover {
  background-color: #F2F2F2!important;
}

.tabs .tab a {
  color: #311B92!important;
}

.tabs .indicator{
  background-color:#311B92!important;
}

.tabs{
  background-color:#F8F8F8!important;
}

.tab a.active {
  background-color:#F0F0F0!important;
}

/* --------------------------------------------------------------- */
.tab-padding { margin-top: 2em; }

.h50,
.h100,
.h200,
.h300,
.h400,
.h500,
.h600,
.h700,
.h800,
.h900,
.h1000 {
  min-height: 50px;  
}
.h100{min-height: 100px;}
.h200{min-height: 200px;}
.h300{min-height: 300px;}
.h400{min-height: 400px;}
.h500{min-height: 500px;}
.h600{min-height: 600px;}
.h700{min-height: 700px;}
.h800{min-height: 800px;}
.h900{min-height: 900px;}
.h1000 {min-height: 1000px;}